h2 { 
    color: blue;

}
table {  font-family: rgb(202, 202, 219); background-color: rgb(91, 91, 255); 
    
} 
table { cellpadding="10" cellspacing="10"

}
h1{
    color: blue;
}

*body{
    text-align: center;
}

