.main{
    border: 5px solid slategrey;
    width: 179px;
    
    margin: 0 auto;
}
.res{
    background-color: aliceblue;
    width: auto;
    
}
.clear{
    width: 99%;
    background-color: whitesmoke;
}
.btn{
    width: 23%;
    background-color: whitesmoke;
    
}
.btn1{
    width: 48%;
    background-color: whitesmoke;
}

.main{
    background-color: black;
}

body{
    background-color: black;
}